html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

#main-container {
  background: #9799af;
  background: -moz-linear-gradient(-45deg, #9799af 0%, #e2bebe 99%);
  background: -webkit-linear-gradient(-45deg, #9799af 0%, #e2bebe 99%);
  background: linear-gradient(135deg, #9799af 0%, #e2bebe 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9799af', endColorstr='#e2bebe', GradientType=1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f7f7f7;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box; }
  #main-container #intro {
    width: 80%;
    color: white;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.4em; }
    #main-container #intro #soft-eng {
      background-color: #464646; }
    #main-container #intro #learn {
      font-family: 'Limelight', cursive;
      color: #464646; }
    #main-container #intro #practice {
      font-weight: 700;
      position: relative;
      font-style: italic;
      color: #464646;
      border-bottom: dashed 2px #464646; }
    #main-container #intro #developer {
      background-color: #ade09f; }
  #main-container #main-btns {
    width: 100%; }
    #main-container #main-btns ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0; }
      #main-container #main-btns ul li {
        margin: 0 5px; }
        #main-container #main-btns ul li:nth-of-type(1) a {
          border-left: 4px solid crimson;
          border-right: 4px solid crimson;
          border-bottom: 1px solid crimson; }
        #main-container #main-btns ul li:nth-of-type(2) a {
          border-left: 4px solid goldenrod;
          border-right: 4px solid goldenrod;
          border-bottom: 1px solid goldenrod; }
        #main-container #main-btns ul li a {
          display: inline-block;
          width: 100%;
          height: 50px;
          outline: none;
          background-color: #161616;
          border: none;
          border-bottom: 2px solid black;
          color: white;
          font-size: 1.3em;
          font-weight: 300;
          line-height: 45px;
          box-shadow: 0 0 8px 1px #464646;
          box-sizing: border-box;
          padding: 0 5px;
          border-radius: 0; }
        #main-container #main-btns ul li a:active {
          box-shadow: inset 0 0 8px 1px #464646; }

ul li {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

#skills-section {
  position: relative;
  width: 100%;
  min-height: 110%;
  padding: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f7f7f7; }
  #skills-section .skillset {
    background-color: white;
    width: 30%;
    max-width: 300px;
    min-width: 300px;
    padding: 5px;
    box-shadow: 0 5px 10px #9b9b9b;
    margin-bottom: 30px; }
  #skills-section .skillset ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    #skills-section .skillset ul svg {
      width: 100px;
      height: 100px; }
  #skills-section h2 {
    text-align: center;
    font-weight: 400;
    color: #262525; }
  #skills-section hr {
    width: 70%;
    border: 1px solid #dedede; }
  #skills-section ul {
    padding: 0;
    text-align: center; }
  #skills-section .btn {
    width: 250px;
    position: absolute;
    bottom: 40px;
    background-color: #8cabd8;
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 1.1em;
    text-align: center;
    border-radius: 100px; }

#projects {
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
  background-color: #8cabd8;
  box-sizing: border-box;
  padding: 100px 100px; }
  #projects #root {
    width: 100%;
    min-width: 320px;
    min-height: 300px;
    max-width: 1155px;
    margin-top: 100px;
    z-index: 2;
    margin: 0 auto;
    background-color: rgba(247, 247, 247, 0.7);
    padding: 10px;
    box-shadow: 0 0 5px 1px #4d85d6; }
  #projects canvas {
    position: absolute;
    top: 0;
    left: 0; }

#contact {
  position: relative;
  min-height: 100%;
  background-color: #262525;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #contact p {
    margin: 0;
    font-size: 3em;
    height: 100%;
    height: 100%;
    color: ghostwhite;
    font-weight: 300; }

/*# sourceMappingURL=styles.css.map */
